*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html, body{
  height:100%;
  width:100%;
  overflow:hidden;
  flex-shrink:0;
  aspect-ratio:835.94/1283.31;
}

#item{
    width:100vw;
    height:100vh;
    background:url("assets/background.png") lightgray -17.564px -17.757px / 103.379% 119.675% no-repeat;
    position:relative;
    overflow:hidden;
}

#icon1{
    position:relative;
    display:flex;
    flex-direction:column;
    align-items:center;
    width:150px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:white;
    font-size:13px;
    text-align:center;
    line-height:1;
    gap:0;
    transition:all 0.2s ease-in-out;
    cursor:pointer;
    
}
#icon2{
    position:relative;
    display:flex;
    flex-direction:column;
    align-items:center;
    width:150px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:white;
    font-size:13px;
    text-align:center;
    line-height:1;
    gap:5;
    transition:all 0.2s ease-in-out;
    cursor:pointer;
}
#icon3{
    position: relative;
    display:flex;
    flex-direction:column;
    align-items: center;
    width: 150px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:white;
    font-size: 13px;
    text-align:center;
    line-height:1;
    gap:0;
    transition: all 0.2s ease-in-out;
    cursor:pointer;
}
#icon4{
    position: relative;
    display:flex;
    flex-direction:column;
    align-items: center;
    width: 150px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:white;
    font-size: 13px;
    text-align:center;
    line-height:1;
    gap:0;
    transition:all 0.2s ease-in-out;
    cursor:pointer;
}
#icon5{
    position: relative;
    display:flex;
    flex-direction:column;
    align-items: center;
    width: 150px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:white;
    font-size: 13px;
    text-align:center;
    line-height:1;
    gap:0;
    transition:all 0.2s ease-in-out;
    cursor: pointer;
}

.icon img{
  width:70px;
  height:70px;;
  object-fit:contain;
  padding:0;
  display:block;
  image-rendering:pixelated;
  filter:drop-shadow(0 0 0.05rem black);
  
}


.icon-label{
  margin:-27px 5px 5px ;
  padding:0;
  font-size:13px;
  line-height:1;
}
.icon-label2{
  margin:5px;
  padding:0;
  font-size:13px;
  line-height:1;
}

#required-icon{
  position:absolute;
  top:10px;
  left:10px;
  display:flex;
  flex-direction:column;
  gap:15px;
}

#taskbar{
    position:absolute;
    bottom:0;
    left:0;
    width:100vw;
    height:50px;
    background:#050E0E;
    display:flex;
    flex-direction:row;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding:0 12px;
    z-index:1000px;   
}


.taskbar-icons{
    display:flex;
    gap:25px;
    margin-top:5px;
}
#icon1:hover {
  transform: translateY(-2px);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
  background-color: rgba(255, 255, 255, 0.2); 
  transition: all 0.2s ease-in-out;
}
#icon1:hover {
  transform: translateY(-2px);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
  background-color: rgba(68, 139, 231, 0.363); 
  border-radius: 20px;
  transition: all 0.2s ease-in-out;
}
#icon2:hover {
  transform: translateY(-2px);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
  background-color: rgba(68, 139, 231, 0.363); 
  border-radius: 20px;
  transition: all 0.2s ease-in-out;
}
#icon3:hover {
  transform: translateY(-2px);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
  background-color: rgba(68, 139, 231, 0.363); 
  border-radius: 20px;
  transition: all 0.2s ease-in-out;
}
#icon4:hover {
  transform: translateY(-2px);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
  background-color: rgba(68, 139, 231, 0.363); 
  border-radius: 20px; 
  transition: all 0.2s ease-in-out;
}
#icon5:hover {
  transform: translateY(-2px);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
  background-color: rgba(68, 139, 231, 0.363);  
  border-radius: 20px;
  transition: all 0.2s ease-in-out;
}
.ghost:hover {
  transform: translateY(-2px);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
  background-color: rgba(255, 255, 255, 0.2); 
  border: 1px solid white; 
  transition: all 0.2s ease-in-out;
}
.setting:hover {
  transform: translateY(-2px);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
  background-color: rgba(255, 255, 255, 0.2); 
  border: 1px solid white; 
  transition: all 0.2s ease-in-out;
}
.gallery:hover {
  transform: translateY(-2px);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
  background-color: rgba(255, 255, 255, 0.2); 
  border: 1px solid white; 
  transition: all 0.2s ease-in-out;
}
#dno-box {
  position: absolute;
  top: 10%;                
  left: 30%;               
  background: #000;
  border: 2px solid #ffffff;
  box-shadow: 4px 4px 12px rgba(133, 126, 126, 0.493);
  font-family: Arial, sans-serif;
  width: 595px;
  height: 395px;
  flex-shrink: 0;
}

.dno-bar{
margin: 0;
padding: 0;
height:50px;
flex-shrink: 0;
background: #808080;
}
#mp-box {
  position: absolute;
  top: 10%;                
  left: 30%;               
  background: #3C5353;
  border: 2px solid #ffffff;
  box-shadow: 4px 4px 12px rgba(216, 208, 208, 0.493);
  font-family: Arial, sans-serif;
  width: 595px;
  height: 395px;
  flex-shrink: 0;
}

.mp-bar{
margin: 0;
padding: 0;
height:50px;
flex-shrink: 0;
background: #808080;
}

/* Close Button */
button{
  position: absolute;
  top:5px;
  left:10px;
  width: 30px;
  font-size:18px;
  font-weight: bold;
  color: #ffffff;
  cursor: pointer;
  background-color:#740000;
}

.close-btn:hover {
  color: red;
}

p{
color: #83DA92;
font-family: "Pixelify Sans";
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
padding: 10px;
margin: 10px;
}
h3{
  color: #ffffff;
  text-align: center;
  padding:5px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}