* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Tahoma', sans-serif;
}

body {
  background-color: #081421;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  padding: 40px 20px;
}

h1 {
  font-size: 45px;
  color: #00ffff;
  margin-bottom: 50px;
  text-shadow: 0 0 8px #00ffff;
}

.os-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  max-width: 1600px;
  padding: 15px;
  margin-top: 100px;
}

.os-card {
  background-color: #121b2f;
  border-radius: 25px;
  border: 2px solid #00ffff;
  padding: 16px 12px;
  text-align: center;
  cursor: pointer;
  width: 300px;
  height: 240px;
  overflow: hidden;
  transition: all 0.5s ease;
}

.os-card img {
  width: 150px;
  height: 150px;
  object-fit: contain;
  margin-bottom: 2px;
  image-rendering: pixelated;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.os-name {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 6px;
  color: #ffffff;
}

.tagline {
  font-size: 15px;
  color: #b0c4ff;
  font-style: italic;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

footer {
  margin-top: 50px;
  font-size: 15px;
  color: #5fc3ff;
  padding: 10px;
}

/* Hover Glow Effect */
@keyframes glow {
  0% {
    box-shadow: 0 0 5px #00ffff;
  }
  50% {
    box-shadow: 0 0 15px #00ffff;
  }
  100% {
    box-shadow: 0 0 5px #00ffff;
  }
}

.os-card:hover {
  background-color: rgba(255, 255, 255, 0.05);
  transform: translateY(-5px) scale(1.02);
  box-shadow: 0 0 12px 3px rgba(0, 255, 255, 0.7);
  border-color: #00ffff;
  animation: glow 1.5s infinite;
}
