<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>OS Rewind | Home</title>
  <link rel="stylesheet" href="/static/css/index.css"/>
</head>
<body>
  <h1>OS Rewind: Pick Your System</h1>

  <div class="os-grid">

  <div class="os-card" onclick="location.href='/macos'">
    <img src="/static/assets/macos9.png"/>
    <div class="os-name selected">Mac OS Classic</div>
    <div class="tagline">Experience the Classic Mac UI</div>
  </div>

  <div class="os-card" onclick="location.href='/win98'">
    <img src="/static/assets/windows98.png"/>
    <div class="os-name selected">Windows 98</div>
    <div class="tagline">Where it all began...</div>
  </div>

  <div class="os-card" onclick="location.href='#'">
    <img src="/static/assets/windows7.png"/>
    <div class="os-name selected">Windows 7</div>
    <div class="tagline">The smooth operator</div>
  </div>

  <div class="os-card" onclick="location.href='/hos1'">
    <img src="/static/assets/HauntOs.png"/>
    <div class="os-name selected">Haunt OS</div>
    <div class="tagline">Enter if you dare...</div>
  </div>

</div>

  <footer>
    Crafted with 💻 for OSDHack'25
  </footer>
</body>
</html>
