<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Windows-98</title>
    <link rel="stylesheet" href="/static/css/win98.css" />
  </head>
  <body>
     <div id="boot-screen"></div>
    <audio id="bootSound" autoplay>
      <source src="/static/assets/win98-sound.mp3" type="audio/mpeg" />
      Your browser does not support the audio element.
    </audio>
    <div id="desktop">
      <div id="icon-container">
      <div class="icon">
      <img src="/static/assets/mycomputer.png" alt="mycomputer"/><div class="icon-label">My Computer</div>
      </div>
      <div class="icon">
        <img src="/static/assets/document.png" alt="folder"/><div class="icon-label">My Documents</div>
      </div>
       <div class="icon">
        <img src="/static/assets/network.png  " alt="network"/><div class="icon-label">Network <br> Neighborhood</div>
       </div>
       <div class="icon">
        <img src="/static/assets/recyclebin.png" alt="bin"/><div class="icon-label">Recycle Bin</div>
       </div>
       <div class="icon" >
        <img src="/static/assets/explorer.png" alt="explorer" style="width:45px; height:45px; object-fit:contain; margin-bottom:4px;"/>
        <div class="icon-label">Internet <br> Explorer</div>
       </div>
       <div class="icon">
        <img src="/static/assets/folder.png" alt="os"/><div class="icon-label">Online <br> Services</div>
       </div>
       </div>
       <div id="taskbar">
        <div id="start-button">
          <img src="/static/assets/start.png" alt="start"/>
          <div>Start</div>
        </div>
        <div class="taskbar-right">
          <div class="menu-box"> <a href="/" style="text-decoration: none;">MAIN MENU</a></div>
          <div class="clock-box">
          <div>10:00 PM</div>
          <div>01-08-2000</div>
          </div>
        </div>
       </div>
    </div>
    
  </body>

  
  <script>
  const audio = document.getElementById("bootSound");

  audio.play().catch(() => {
    document.addEventListener("click", () => {
      audio.play();
    }, { once: true });
  });

  
  audio.addEventListener("ended", () => {
    document.getElementById("boot-screen").style.display = "none";
    document.getElementById("desktop").style.display = "block";
  });
</script>

</html>
